$baseFontSize: .76rem;

.player-detail {
  height: 100%;
  overflow: hidden;
}

.player-detail-header {
  height: 46px;
  display: flex;
  align-items: center;
  border-bottom: rgba(204, 204, 204, 0.18) 1px solid;
}

.go-back {
  flex: 1 0 15%;
  text-align: center;
  font-size: $baseFontSize + .4rem;
  color: #fff;
}

.song-name {
  flex: 1 0 85%;
  font-size: $baseFontSize;
  color: #fff;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.album-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 2;
  filter: blur(2rem);
}

.mask-cover {
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 3;
}

.player-content {
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.player-effect {
  position: relative;
  flex: 1 0 70%;
  overflow: hidden;
}

.sticker {
  $width: 6.5rem;
  position: absolute;
  width: 100%;
  height: $width + 3rem;
  overflow: hidden;
  z-index: 5;
  img {
    position: absolute;
    top: -1rem;
    right: 34%;
    width: $width;
    height: $width * 3/2;
    transform: rotate(-20deg);
    transform-origin: left top;
    transition: all 300ms ease-in;
  }
}

.sticker-unhold {
  transform: rotate(0deg) !important;
}

.cd-wrapper {
  display: flex;
  position: relative;
  height: 83vw;
  width: 83vw;
  padding: .08rem;
  margin: 4.4rem auto;
  border-radius: 50%;
  background-color: rgba(107,107,107,0.3);
  justify-content: center;
  align-items: center;
}

.cd-wrapper-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.player-wrapper {
  flex: 1 0 25%;
}

.cd-img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
}

.cd-rotate {
  animation: rotating 10s linear 0.3s infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.process-bar {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  & span {
    text-align: center;
    color: #fff;
    opacity: .5;
    font-size: 0.74rem;
    flex: 1 0 15%;
  }
}

.process-control {
  flex: 1 0 65%;
  position: relative;
  height: 100%;
}

.control-bar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & div {
    flex: 1 0 20%;
    text-align: center;
    height: 100%;
  }
  & a {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
}

.control-bar-button {
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-line, .slider-fill {
  $height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  height: $height;
  margin-top: -$height/2;
}

.slider-line {
  width: 100%;
  background-color: #bec2c1;
}

.slider-fill {
  width: 0%;
  background-color: #e92e35;
}

.slider-btn {
  $height: 12px;
  position: absolute;
  top: 50%;
  left: 0%;
  height: $height;
  width: $height;
  margin-top: -$height/2;
  background-color: #e92e35;
  border-radius: 50%;
}
